* {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
            color: black;
            margin-right: 10px;
        }

        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
            color: #000;
        }

        input[type=submit] {
            background-color: #0c0c27;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 19px;
            cursor: pointer;
        }

        .container-2 {
            border-radius: 12px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            width: 35%;
            float: right;
            margin-top: -600px;
            margin-right: 150px;
            /*padding: 20px;*/
        }
         .container-3 {
            border-radius: 12px;
            background: linear-gradient(to bottom right, #00ccff 0%, #003366 100%);          
            padding: 20px;
            /*width: 35%;*/
            /*margin-top: -600px;*/
        }

        .col-25 {
            float: left;
            width: 45%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 95%;
            margin-top: 6px;
        }

        .country {
            margin-left: 10px;
        }

        .pages {
            width: 30%;
            color: #000;
            font-size: 13px;
        }

        .deadline {
            margin-left: 49%;
            margin-top: -23%;
            width: 20%;
            color: #000;
            font-size: 13px;
        }

        .deadline input {
            color: #000;
            width: 15%;
        }

        .test {
                font-size: 11px;
                width: 95%;
            }

        .total {
            background-color: #00334d;;
            float: right;
            border-radius: 8px;
            margin-top: -190px;
            margin-right: -280px;
            padding: 5px;
            text-align: center;
            color: #ffff;
        }
        
        .projectname{
            margin-top: 30px;
        }
        .pages input {
            color: #000;
            width: 100%;
        }

        .file {
            width: 40%;
        }

        .email {
            width: 95%;
        }

        .roww {
            border: 2px solid blue;
        }

        .select:hover {
            display: block;
        }
        
        .discount {
            border-radius: 8px;
            margin-top: -260px;
            width: 20%;
            color: #fff;
            /*background-color: #00CED1;*/
            text-align: center;
            font-weight: bold;
        }
        
         p5{
            font-family: Lucida Calligraphy;
            font-size: 15px;
        }
        h6 {
            font-family: Lucida Calligraphy;
            font-size: 30px;
        }
        .bottom-info{
            margin-top: 198px;
        }   

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        .pop-up {
            float: right;
            margin-top: 0px;
            width: 100%;
            z-index: 1000;
            position: relative;
            display: block;
            padding: 20px;
        }
        .payment {
            background-color: #00334d;;
            color: #fff;
            width: 300px;
            margin-left: 80px;
            border-radius: 19px;
            height: 50px;
            display: block;
            font-weight: bold;
        }


        .display_advert {
            float: left;
            margin-top: -620px;
            width: 100%;
            z-index: 1000;
            position: relative;
            height: 500px;
        }
       
        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        @media(max-width:1080px) {
           .container-2 {
            border-radius:5px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            width: 35%;
            float: right;
            margin-top: -550px;
            margin-right: 150px;
        }
        .pages {
            width:20%;
            color: #000;
            font-size: 13px;
        }

        .deadline {
            margin-left:60%;
            margin-top: -27%;
            width:20%;
            color: #000;
            font-size: 13px;
        }
        .pop-up {
            display: block;
        }
        @media screen and (max-width: 600px) {
            .col-25, .col-75, input[type=submit] {
                width: 100%;
                margin-top: 0;
            }
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: 0 -6px;
            margin-left: 2px;
        }

        .col-50 {
            -ms-flex: 50%;
            flex: 50%;
        }
        
        .discount {
            margin-top: -120px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        
         p5{
            font-size: 15px;
        }
        h6 {
            font-size: 20px;
        }
        .bottom-info{
            margin-top: 98px;
        }   

        .payment {
            background-color: #00334d;;
            color: #fff;
            width: 300px;
            margin-left: 50px;
            border-radius: 19px;
            height: 50px;
            display: block;
        }

        .pop-up {
            display: none;
        }
        
        @media (max-width: 414px) {
            .container-2 {
                width: 76%;
                margin-right: 45px;
                margin-top: -600px;
            }

            .col-75 {
                width: 100%;
            }

            .form-check-input {
                width: 110px;
                height: 25px;
            }

            .form-page {
                width: 100px;
                height: 25px;
            }

            .pages {
                width: 70%;
                color: #000;
                font-size: 13px;
            }

            .deadline {
                margin-left: 60%;
                margin-top: -36.5%;
                width: 30%;
                color: #000;
                font-size: 13px;
            }

            .file {
                width: 40%;
                font-size: 13px;
            }

            .email {
                width: 100%;
                font-size: 13px;
                border-radius: 12px;
            }

            .name {
                height: 40px;
                font-size: 11px;
            }

            .test {
                font-size: 11px;
            }

            .row pay {
                width: 10px;
            }

            .label {
                font-size: 14px;
            }

            .modal-content {
                width: 50%;
                margin-right: 0%;
                height: 50%;
            }

            .payform {
                font-size: 12px;
            }

            .Accepted {
                font-size: 14px;
            }
        }