<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([a-z]+)\/?$ $1.php [NC]
</IfModule>
RewriteEngine On
RewriteCond %{HTTP_HOST} joshuandungu.shopilyv\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://joshuandungu.shopilyv.com/$1 [R,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
